<!DOCTYPE html>
<html lang="en">
  <%- include ./header %>
  <body>
    <%- include ./menu %>
    <div class="jumbotron card card-image" style="background-image: url(https://cdn.pixabay.com/photo/2017/04/10/07/57/processor-2217771_960_720.jpg);">
      <div class="text-white text-center py-5 px-4">
        <div>
          <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
            <strong>SUPER COMPUTER DATAS!!</strong>
          </h2>
          <p class="mx-5 mb-5">
            So many datas
          </p>
          <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> View Items</a>
        </div>
      </div>
    </div>
    <%- include ./footer %>
  </body>
</html>
